/*code for checkers game*/

body {
  background-image: url(images/wood.jpg);
}

#header {
  background-color: rgba(128, 64, 0, .8);
  font-family: arial, sans-serif;
  top: 1vh;
  position: absolute;
  height: 8vh;
  left: 38vw;
}

#header h1 {
  color: white;
  font-size: 4vh;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 0;
  padding-bottom: 0;
  }

#board {
  height: 80vh;
  width: 80vh;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  margin: auto auto;
  top: 13vh;
  position: relative;
}

#board.dark {
  background-color: blue;
}

#board.light {
  background-color: grey;
}

#board.dark.red {
  background-image: url(images/red-checker-piece.png);
  background-size: cover;
}

#board.dark.black {
  background-image: url(images/black-checker-piece.png);
  background-size: cover;
}

#attribution {
  position: fixed;
  bottom: 0;
  height: 2.5vh;
  width: 100vw;
  background-color: rgba(128, 64, 0, .8);
  color: white;
}









